body{
    background: url(/img/ciudad-futurista-estilo-retro_1920x1080_xtrafondos.com.jpg);
    background-size: auto;
}

#clock {
    font-size: 72px;
    font-family: "Orbitron", sans-serif;
    color: #1dc5df;
  }
  
  #date {
    font-size: 50px;
    font-family: "Orbitron", sans-serif;
    color: #18bbd4;
  }

  .container{
    text-align: center;
    background-color: rgba(111, 26, 160, 0.555);  
    border-radius: 30px;

}
  